<!-- Modal -->
<div class="modal fade" id="modal_primer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Primer  <p id="SSR_ID"></h4>
      </div>
      <div class="modal-body">
        <h4>Primer-I</h4>
        <table class="table table-striped">
  			<tr>
  				<td colspan="2"><b>Forward Primer</b></td>
  				<td colspan="2"><b>Reverse Primer</b></td>
  			</tr>
  			<tr>
  				<td colspan="2"><p id="Foward1"></td>
  				<td colspan="2"><p id="Reverse1"></td>
  			</tr>
  			<tr>
  				<td><b>Tm</b></td>
  				<td><b>Size</b></td>
  				<td><b>Tm</b></td>
  				<td><b>Size</b></td>
  			</tr>
  			<tr>
  				<td><p id="FP_Tm1"></td>
  				<td><p id="FP_Size1"></td>
  				<td><p id="RP_Tm1"></td>
  				<td><p id="RP_Size1"></td>
  			</tr>
		</table>
		<h4>Primer-II</h4>
        <table class="table table-striped">
  			<tr>
  				<td colspan="2"><b>Forward Primer</b></td>
  				<td colspan="2"><b>Reverse Primer</b></td>
  			</tr>
  			<tr>
  				<td colspan="2"><p id="Foward2"></td>
  				<td colspan="2"><p id="Reverse2"></td>
  			</tr>
  			<tr>
  				<td><b>Tm</b></td>
  				<td><b>Size</b></td>
  				<td><b>Tm</b></td>
  				<td><b>Size</b></td>
  			</tr>
  			<tr>
  				<td><p id="FP_Tm2"></td>
  				<td><p id="FP_Size2"></td>
  				<td><p id="RP_Tm2"></td>
  				<td><p id="RP_Size2"></td>
  			</tr>
		</table>
		<h4>Primer-III</h4>
        <table class="table table-striped">
  			<tr>
  				<td colspan="2"><b>Forward Primer</b></td>
  				<td colspan="2"><b>Reverse Primer</b></td>
  			</tr>
  			<tr>
  				<td colspan="2"><p id="Foward3"></td>
  				<td colspan="2"><p id="Reverse3"></td>
  			</tr>
  			<tr>
  				<td><b>Tm</b></td>
  				<td><b>Size</b></td>
  				<td><b>Tm</b></td>
  				<td><b>Size</b></td>
  			</tr>
  			<tr>
  				<td><p id="FP_Tm3"></td>
  				<td><p id="FP_Size3"></td>
  				<td><p id="RP_Tm3"></td>
  				<td><p id="RP_Size3"></td>
  			</tr>
		</table>
		
		
      </div>
      <div class="modal-footer">
      	<div class="pull-left">
	      	<h5><b>Tm</b>: Optimumn melting temprature(&#8451) </h5>
			<h5><b>Size</b>: Optimumn length of a Primer(bases) </h5>
		</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>