<div class="col-md-6">
	<h4>Search by Species</h4>

	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=a">A</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=b">B</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=c">C</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=d">D</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=e">E</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=f">F</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=g">G</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=h">H</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=i">I</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=j">J</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=k">K</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=l">L</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=m">M</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=n">N</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=o">O</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=p">P</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=q">Q</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=r">R</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=s">S</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=t">T</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=u">U</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=v">V</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=w">W</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=x">X</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=y">Y</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_species?browse_by_alphabet=z">Z</a>
		</div>
	</div>
</div>
<div class="col-md-6">
	<h4>Search by Families</h4>

	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=a">A</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=b">B</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=c">C</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=d">D</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=e">E</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=f">F</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=g">G</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=h">H</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=i">I</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=j">J</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=k">K</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=l">L</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=m">M</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=n">N</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=o">O</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=p">P</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=q">Q</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=r">R</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=s">S</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=t">T</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=u">U</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=v">V</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=w">W</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=x">X</a>
		</div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=y">Y</a>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<a class="btn btn-default btn-fix_width" href="browse_microsatellite_by_families?browse_by_alphabet=z">Z</a>
		</div>
	</div>
</div>