<div class="container">
	<div class="row">
		<div class="col-md-12 text-justify">
			<div class="col-md-12">
			<h4> Overview of Functional SSRs </h4>
			<span class="tab"></span>Microsatellites or Simple Sequence Repeats (SSRs) are formed as a result of the strand-

slippage mechanism (Schlotterer and Harr, 2001) and have been used widely as functional 

genetic markers (Studer et al., 2010), for testing genetic fidelity and genetic variability (Rahman 

and Rajora, 2002; Schellenbaum et al., 2008) and for population genetic studies (Sim et al., 

2009). Microsatellites, represents classes of co-dominant markers are valuable tools for decoding 

relationships among closely related species and individuals, diversity estimation and species 

discrimination. Many of the approaches that have been proposed for the development of SSRs, 

are either time consuming for example screening small insert genomic DNA libraries or 

constructing SSR-enriched libraries (Shokeen et al., 2007) or they are not cost-effective 

(Shokeen et al., 2011). However, in-silico mining approaches have filled a major gap in the 

development of these functional classes of markers (Sablok et al., 2008; Sablok et al., 2011), 

which could be potentially used for marker assisted gene selection, genotyping and anchoring 

quantitative trait localization (QTL) (Parida et al., 2010; Kujur et al., 2013). SSRs abundance 

varies from dicots to monocots ranging from one SSR per 64.6 kb in monocotyledonous to one 

per 21.2 kb in dicotyledonous species (Wang et al. 1994; Varhsney et al. 2005). 
<br />
<p class="big"> </p>
</div>
<div class="col-md-12">
<span class="tab"></span> SSRs have been linked to functional variability in addition to their ability to reveal cross-

species variability and transferability (Sim et al., 2009). SSRs as markers have gained 

importance in plant breeding approaches and become a <i>de-facto</i> standard for delineating 

variability among the newly identified and in-bred crops due to their multi-allelic nature, co-

dominance and wide distribution across the genome (Liu et al., 2013; Hong et al., 2010; Guo et 

al., 2012; Faville et al., 2004). Genome-wide and transcript-based mining approaches have been 

widely implemented for the functional mining of these markers (Liu et al., 2013; Parida et al., 

2010). Comparative assessment of SSRs have demonstrated the utility and applicability of 

transcript-wide SSRs for anchoring linkage maps, genetic variability and functional diversity 

(Studer et al., 2010; Thiel et al., 2003; Varshney et al., 2005; Kujur et al., 2013) mainly due to 

the associative nature of the mined SSRs to the coding region variations and the associated 

functional variations.
			
			<h4>References for Genic SSRs</h4>	
			
			<ul>
				
			  <li class="">Wang, Z. et al. (1994) Survey of plant short tandem DNA repeats. Theor. Appl. Genet. 88, 1–6.</li>
			  <li class="">Varhsney et al. (2005) Genic microsatellite markers in plants: features and applications Trends Biotechnol. 23:48-55.</li>
			  <li class="">Gupta SK, Gopalakrishna T (2010) Development of unigene-derived SSR markers in cowpea (Vigna unguiculata) and their transferability
			  	 to other Vigna species. Genome. 53:508-23.</li>
			  <li class="">Blair MW, Hurtado N (2013) EST-SSR markers from five sequenced cDNA libraries of common bean (Phaseolus vulgaris L.) 
			  	comparing three bioinformatic algorithms. Mol Ecol Resour.13:688-95.</li>
			  <li class="">Dutta, S and Kumawat, G and Singh, B P and Gupta, D K and Singh, Sangeeta and Dogra, V and Gaikwad, K and Sharma,
			  	 T R and Raje, R S and Bandhopadhya, T K and Datta, S and Singh, M N and Bashasab, F and Kulwal, P and Wanjari, K B and Varshney, R K and Cook, D R and Singh, N K (2011) 
			  	 Development of genic-SSR markers by deep transcriptome sequencing in pigeonpea [Cajanus cajan (L.) Millspaugh]. BMC Plant Biology, 11: 17-29.</li>
			  <li class="">Zhang H, Wei L, Miao H, Zhang T, Wang C (2012) Development and validation of genic-SSR markers in sesame by RNA-seq. BMC Genomics. 13:316.</li>
			</ul>
		</div>
		</div>
	</div>
</div>