<div class="container">
	<div class="row">
		<div class="col-md-12 text-justify">
			<div class="col-md-12">
			<h4> Contact </h4>
				<b>For any queries, please address your queries to</b> <br>

Dr. Gaurav Sablok <br />

Plant Functional Biology and Climate Change Cluster (C3), <br>

University of Technology, Sydney, PO Box 123 Broadway NSW 2007, Australia <br />

Email: <a href="mailto:sablokg@gmail.com" target="_top">sablokg@gmail.com</a> <br />
<p class="big"> </p>
<b>If you use PlantFuncSSRs, please cite </b> <br />

Gaurav Sablok, Antonio J. Pérez-Pulido, Thac Do, Carlos Sánchez Casimiro-Soriguer, Tan Yew 

Seong, Andrea Squartini, Antonio Muñoz, Jennifer Ann Harikrishna (2016) PlantFuncSSRs: 

Unifying patterns of plant functional SSRs from first generation and next generation sequencing 

datasets
		</div>
		</div>
	</div>
</div>