<div class="container">
	<div class="row">
		<div class="col-md-12 text-justify">
			<div class="col-md-12">
			<h4> PlantFuncSSRs Tutorial </h4>
				<span class="tab"></span>To develop an efficient browsing system, PlantSSRs architecture has been enabled with 

MYSQL and ruby rails scripts, which provides faster integration and query based searches to the 

users. The current version of the PlantSSRs presents more 

than 2 million SSRs and SSR-FDMs from 364 species for easy access and browsing of transcript 

derived plant SSRs across the plant kingdom. The front-end portal is user-friendly and allows the 

end-users to search SSRs as “species-wise”, “family-wise” or based on “advanced search 

patterns”. Integration of visualization features with the rapid mining of the data is a key central 

feature that has been implemented in the PlantFuncSSRs. A schema of the database architecture 

in the form of entity-relationship is given in Fig.1. All the identified SSRs with descriptive 

information on motif size, motif type, repeat numbers with their length and size, repeat type, GC 

content, start and end position were systematically stored in “query” sorted tables using the 

relational MySQL as the backend database, which communicates with the PHP to enlist the 

SSRs markers according to the user specified input. For the visualization of the SSRs and the 

associated information, several hierarchal levels of classified information have been inter-linked 

in PlantFuncSSRs. A quick search implementation pattern displays the embedded species 

information in quick select “<i>species</i>” and “<i>families</i>”, which are hyperlinked pages to the 

respective species and provide a quick view of the SSRs present in each species. Fig.3 shows the 

webpage browsing of PlantFuncSSRs with detailed classification of the identified SSRs. 

Alphabetical classification of the species provides an additional advantage for the users to 

quickly look for their species of interest.
<br />
<p class="big"> </p>
<span class="tab"></span> Each record in the species displays the <i>Species_Name, Num_Seqs_Exam, 

Size_Exam_Seqs, Num_SSR_Ident, SSR_Cont_Seqs, Seqs_Cont_SSR, and Num_SSR_Present </i>

providing summarized information on the number of the identified SSRs for that particular 

species of interest. In PlantFuncSSRs, each species page has been hyperlinked to the 

corresponding repeat information pages that present detailed information on several statistics 

such as Total number of sequences examined, Total size of examined sequences (bp), Total 

number of identified SSRs, Number of SSR containing sequences, Number of sequences 

containing more than 1 SSR and Number of SSRs present in compound formation.
		</div>
		</div>
	</div>
</div>