<!DOCTYPE html>
<html>
<head>
  <title>PlantFuncSSRs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>PlantFuncSSRs</b></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li <% if check_active_topbar('welcome') %>class="active" <% end %>><a href="/">Welcome</a></li>
              <li <% if check_active_topbar('microsatellite_overview') %>class="active" <% end %>><a href="microsatellite_overview">Overview of Functional SSRs</a></li>
              <li <% if check_active_topbar('browse_microsatellite') %>class="active" <% end %>><a href="browse_microsatellite">Browse Microsatellites</a></li>
              <li <% if check_active_topbar('tutorial') %>class="active" <% end %>><a href="tutorial">Tutorial</a></li>
              <li <% if check_active_topbar('contact') %>class="active" <% end %>><a href="contact">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="row">
        <%= yield %>
      </div>
    </div>


</body>
</html>
